<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>verify</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/verify.css') }}">
</head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div class='container '>
    <div class="row col-md-6 col-md-offset-3">
        <div class='form-row'>
            <form id="email_register_form" method="post" action="register.html" autocomplete="off">

                <div class="form-group captcha1 ">
                    <img src="/codes/" alt="captcha" title="点击切换" class="captcha"
                         onclick="this.src='codes/?'+Math.random()"/>

                </div>
            </form>
        </div>

    </div>

</div>

</body>
</html>